* {
    font-family :verdana,sans-serif;
    font-size   :14pt;
}

body {
    width       :750px;
    margin      :20px auto;
    background-color: rgba(52,73,94,0.7);
    border: none;
    border-radius: 5px;
    min-width: 700px;
    box-shadow:  1px 1px 2px ;
}
.main {
    padding: 20px;
    color:white;
    font-style: italic;
    font-weight: bold;


}

html {
    background: url("decor_asiatique.jpg") no-repeat center fixed; 
    margin:0;
    padding:0;
    background-size: cover;
}





.menu {
    text-align  :center;
    padding     :20px;
    font-style: italic;
}

.title {
    text-align  :center;
    background  :rgba(52,73,94,0.7);
    border-radius:5px;
    color       :white;
    font-family :helvetica;
    font-size   :20pt;
    font-weight :bold;
    padding     :8px;

}

.menu a {
    display           :inline;
    padding           :4px 6px;
    border            :1px solid #777;
    background        :green;
    color             :white;
    margin-right      :8px;
    border-radius     :3px;
    box-shadow        :2px 2px 2px #888;
    text-decoration   :none;
}

.menu a:hover {
    color   :whitesmoke;
}


input[type="text"] , input[type="password"]{
    margin-bottom:10px;
}


.labelcalendar ,.formcalendar input {
    display:inline-block;
    width: 200px;
    margin-left: 5px;

}
.labelAction {
    margin-left: -70px;
}
.formcalendar {
    display: inline;
}




.errors {
    color: white;
}




input[type="submit"],input[type="color"]{
    display           :inline;
    padding           :4px 6px;
    border            :1px solid #777;
    background        :green;
    color             :white;
    margin-right      :8px;
    border-radius     :3px;
    box-shadow        :2px 2px 2px #888;
    text-decoration   :none;
    margin-top: 10px;
    width: 100px;
    font-style: italic;

}
input[name="share"]{
    width : 210px;
}
input[name="pseudoShare"]{
    width : 200px;
}
select[name="pseudo"]{

    width: 203px;
}

.labelEvent{
    display:block;
    float:left;
    width:150px;
}
.formEvent{
    display:inline;
}

